body{
  text-align: center;
}
.btn{
  width: 200px;
  height: 200px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 1.5rem;
}
.btn-container{
  display: flex;
  justify-content: center;

}
.yellow{
  background-color: rgb(217, 219, 84);
}
.green{
  background-color:rgb(89, 148, 89)
}
.purple{
  background-color: rgb(179, 108, 179);
}
.red{
  background-color: rgb(200, 91, 91);
}
.flash{
  background-color: white;
}
.game-over {
  background-color: red;
}